{% extends 'base.html' %}



{% block content %}
{% include 'partials/messages.html' %}
<h1>Welcome to the Expense Tracker</h1>

<ul class="List-group">
    <li class="List-group-item">Bought Beer</li>
    <li class="List-group-item">Bought Beer</li>
    <li class="List-group-item">Bought Beer</li>
    <li class="List-group-item">Bought Beer</li>
    <li class="List-group-item">Bought Beer</li>
    <li class="List-group-item">Bought Beer</li>
    <li class="List-group-item">Bought Beer</li>
    <li class="List-group-item">Bought Beer</li>
    <li class="List-group-item">Bought Beer</li>
    <li class="List-group-item">Bought Beer</li>
</ul>

{% endblock %} 